.summry--container {
  position: relative;
  width: 1048px;
  height: 300px;
  left: 100px;
  top: 17px;

  background: rgba(32, 37, 67, 0.5);
  backdrop-filter: blur(5px);

  border-radius: 5px;
}
.summryText {
  position: absolute;
  color: #ffff;
  width: 242px;
  height: 30px;
  left: 400px;
  top: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  margin: 0;
}
.line--1 {
  position: absolute;
  width: 970px;
  height: 0px;
  left: 40px;
  top: 45px;
  border: #ffff;
  border-top: 0.3px solid rgba(195, 197, 203, 0.4);
}
.current--epoch--box {
  position: absolute;
  width: 185.01px;
  height: 215px;
  left: 790px;
  top: 60px;
  /* border: 2px solid red; */
}
.current--epoch {
  position: absolute;
  width: 118px;
  height: 63px;
  left: 32px;
  top: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.current--epoch--box--hr--1 {
  position: absolute;
  width: 182.01px;
  height: 0px;
  left: 0px;
  top: 68px;
  border: #ffff;
  border-bottom: 0.3px solid rgba(195, 197, 203, 0.4);
}
.next--epoch {
  position: absolute;
  width: 140px;
  height: 63px;
  left: 20px;
  top: 72px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #ffffff;
}
.current--epoch--box--hr--2 {
  position: absolute;
  width: 157.01px;
  height: 0px;
  left: 10px;
  top: 149px;
  border: #ffff;
  border-bottom: 0.3px solid rgba(195, 197, 203, 0.4);
}

.live--twap {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 19px;
  left: 0px;
  top: 158px;
  margin: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  /* line-height: 0; */
  text-align: center;
  color: #ffffff;
}
.tvl {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 19px;
  left: 0px;
  top: 180px;
  margin: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  /* line-height: 0; */
  text-align: center;
  color: #ffffff;
}
.last--epoch--twap {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 19px;
  top: 202px;
  margin: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.cs--ts--p--table {
  position: absolute;
  width: 654px;
  height: 200px;
  left: 40px;
  top: 92px;
}
.cs--ts--p--table--box--3 {
  position: absolute;
  width: inherit;
  height: 47px;
  left: 0;
}
.logo--bbond--logo {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: rgb(55, 55, 71);
  padding: 2px;
}
.logo--bbond--label {
  position: absolute;
  width: 51px;
  height: 15px;
  left: 37px;
  top: 6px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.cs--ts--p--value {
  position: absolute;
  width: 484px;
  height: 38px;
  left: 166px;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.cs--value {
  width: 46px;
  height: 19px;
  left: 388px;
  top: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.ts--value {
  width: 46px;
  height: 19px;
  left: 388px;
  top: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.p--value {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.metamaskfox--logo {
  color: #ffffff;
  width: 25.41px;
  height: 25.41px;
}
.cs--label {
  position: absolute;
  width: 68px;
  height: 14px;
  left: 158px;
  top: 1px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
}
.ts--label {
  position: absolute;
  left: 308px;
  top: 1px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  width: 57px;
  height: 14px;
  text-align: center;
}
.p--label {
  position: absolute;
  width: 22px;
  height: 14px;
  left: 482px;
  top: 1px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}
.cs--ts--p--table--hr--1 {
  position: absolute;
  border: #ffff;
  border-bottom: 0.3px solid rgba(195, 197, 203, 0.4);
  height: 0;
  width: 585px;
  top: 10px;
  left: 79px;
}
.cs--ts--p--table--hr--2 {
  position: absolute;
  border: #ffff;
  border-bottom: 0.3px solid rgba(195, 197, 203, 0.4);
  width: 634px;
  height: 0px;
  left: 30px;
  top: 39px;
}
.read--I--S {
  position: absolute;
  width: 240.03px;
  height: 22px;
  left: 494px;
  top: 329.43px;
  color: tan;
  text-align: right;
}
.read--I--S > a {
  width: 190px;
  height: 22px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  font-feature-settings: 'liga' off;
  color: #9ee6ff;
}
.invest--now {
  position: absolute;
  width: 646px;
  height: 45px;
  left: 100px;
  top: 364.47px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(0, 173, 232, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.invest--now--label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.latest--news {
  position: absolute;
  width: 359px;
  height: 326px;
  left: 767px;
  top: 329.43px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background: rgba(32, 37, 67, 0.5);
  border: 1px solid #728cdf;
}
.latest--news--label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  color: #ffffff;
}
.discord {
  position: absolute;
  width: 317px;
  height: 40px;
  left: 100px;
  top: 415.5px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.discord--logo--container {
  width: 30.91px;
  height: 30.91px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}
.discord--logo {
  position: absolute;
  width: 30.28px;
  height: 30.28px;
  left: 1px;
  top: 1px;
}
.discord--label {
  width: 134px;
  height: 25px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: 'liga' off;
  color: #000000;
}
.read--doc {
  position: absolute;
  width: 310px;
  height: 40px;
  left: 436px;
  top: 415.5px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.read--doc--logo--container {
  width: 30.91px;
  height: 30.91px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}
.read--doc--logo {
  position: absolute;
  width: 22.28px;
  height: 22.28px;
  left: 5px;
  top: 4px;
}
.read--doc--label {
  width: 92.87px;
  height: 25px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: 'liga' off;

  color: #000000;
}
.boardroom--recom {
  box-sizing: border-box;

  position: absolute;
  width: 646px;
  height: 202px;
  left: 100px;
  top: 465px;

  background: rgba(35, 40, 75, 0.75);
  border: 1px solid #728cdf;
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
.boardroom--recom--bshare--logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 10px;
  top: 10px;
}
.boardroom--recom--label {
  position: absolute;
  width: 115px;
  height: 30px;
  left: 65px;
  top: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #ffffff;
}
.boardroom--recom--heading {
  position: absolute;
  width: 279px;
  height: 19px;
  left: 66px;
  top: 43px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}
.boardroom--rcom--tvl {
  position: absolute;
  width: 118px;
  height: 22px;
  left: 501px;
  top: 43px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.boardroom--rcom--hr--1 {
  position: absolute;
  width: 542px;
  height: 0px;
  left: 65px;
  top: 60px;
  border: #ffff;
  border-bottom: 0.5px solid rgba(195, 197, 203, 0.4);
}
.boardroom--rcom--tStacked--label {
  position: absolute;
  width: 142px;
  height: 22px;
  top: 0px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.boardroom--rcom--tStacked--bshare--logo {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 84px;
  top: 0px;
}
.boardroom--rcom--tStacked--label--container {
  position: absolute;
  top: 73px;
  left: 473px;
  height: 18px;
  width: 135px;
}
.boardroom--rcom--dReturns {
  position: absolute;
  width: 90px;
  height: 45px;
  left: 28px;
  top: 120.43px;
}
.boardroom--rcom--dReturns--label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  display: block;

  color: #ffffff;
}
.boardroom--rcom--dReturns--value {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.boardroom--rcom--yStack {
  position: absolute;
  width: 77px;
  height: 54px;
  left: 151px;
  top: 119px;
}
.boardroom--rcom--yStack--heading {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}
.boardroom--rcom--yStack--logo {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -6px;
}
.boardroom--rcom--yStack--value {
  position: absolute;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  top: 21px;
  left: 13px;
}
.boardroom--rcom--yStack--Dvalue {
  position: absolute;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: block;
  color: #ffffff;
  top: 38px;
  left: 0;
}
.boardroom--rcom--earned {
  left: 261px;
  width: 80px;
}
.boardroom--rcom--earned--logo {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 21px;
  left: -5px;
}
.boardroom--rcom--deposit--btn {
  position: absolute;
  width: 96px;
  height: 20px;
  left: 404px;
  top: 113px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 4px 4px 4px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boardroom--rcom--deposit--btn--label {
  width: 53px;
  height: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.boardroom--rcom--withdrawl--btn {
  position: absolute;
  width: 96px;
  height: 20px;
  left: 515px;
  top: 113px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 4px 4px 4px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boardroom--rcom--claimRewards--btn {
  position: absolute;
  width: 218px;
  height: 28px;
  left: 405px;
  top: 155px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boardroom--rcom--claimRewards--btn--label {
  width: 104px;
  height: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 18px;
}
.boardroom--rcom--claimRewards--btn--logo {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 15px;
  height: 15px;
}
.boardroom--rcom--claimRewards--btn--logo--container {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgb(55, 55, 71);
  border-radius: 50%;
}
.bomb--farm {
  position: absolute;
  width: 1046px;
  height: 377.25px;
  left: 100px;
  top: 685px;
  background: rgba(35, 40, 75, 0.75);
  border: 1px solid #728cdf;
  border-radius: 10px;
}
.bomb--farm--label {
  position: absolute;
  width: 129px;
  height: 30px;
  left: 15px;
  top: 15px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.bomb--farm--heading {
  position: absolute;
  width: 379px;
  height: 19px;
  left: 15px;
  top: 46px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}
.bomb--farm--btn--claimAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 13px;
  gap: 13px;
  position: absolute;
  width: 148px;
  height: 28px;
  left: 871px;
  top: 28.43px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.common--logoBtn {
  position: absolute;
  height: 28px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common--logoBtn--label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 8.25%;
}
.B-B--container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 125px;
}
.B-B--container--logo {
  position: absolute;
  width: 33px;
  height: 33px;
  left: 24px;
}
.B-B--container--label {
  position: absolute;
  height: 30px;
  left: 64px;
  top: 0.11px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}
.B-B--container--tvl {
  position: absolute;
  right: 26px;
  top: 5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.B-B--container--hr {
  position: absolute;
  width: 951px;
  height: 0px;
  left: 66px;
  top: 25px;
  border: #ffff;
  border-bottom: 0.5px solid rgba(195, 197, 203, 0.4);
}
.B-B--container--dReturn {
  position: absolute;
  width: 90px;
  height: 45px;
  left: 30px;
  top: 48.89px;
}
.B-B--container--dReturn > label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  display: block;

  color: #ffffff;
}
.B-B--container--yStack {
  position: absolute;
  width: 85px;
  height: 64px;
}
.B-B--container--yStack > label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.B-B--container--yStack > label > img {
  width: 13px;
  height: 13px;
  position: relative;
  top: 3px;
  left: -2px;
}
.B-B--container--yStack > label > .value {
  position: relative;
  top: 0px;
}
.B-B--container--yStack > label > .aValue {
  position: relative;
  top: -1px;
}
.common--arrowBtn {
  position: absolute;
  width: 96px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 4px 4px 4px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bomb--farm--hr {
  position: absolute;
  left: 0px;
  top: 215px;
  border: #ffff;
  border-bottom: 0.5px solid rgba(0, 173, 232, 0.4);
  width: 1046px;
  height: 0px;
}
.cmmon--reTag {
  position: absolute;
  background: rgba(0, 232, 162, 0.5);
  border-radius: 4px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cmmon--reTag > label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
}
.bonds--box {
  box-sizing: border-box;

  position: absolute;
  width: 1045px;
  height: 186px;
  left: 100px;
  top: 1082px;

  background: rgba(35, 40, 75, 0.75);
  border: 1px solid #728cdf;
  backdrop-filter: blur(5px);

  border-radius: 10px;
}
.bonds--box--logo {
  position: relative;
  width: 48px;
  height: 48px;
  left: 22px;
  top: 14px;
}
.bonds--box--label {
  position: relative;
  width: 65px;
  height: 30px;
  left: 27px;
  top: -14px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.bonds--box--heading {
  position: relative;
  width: 638px;
  height: 18px;
  left: 75px;
  top: -16px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}
.bonds--box--currPLebel {
  position: absolute;
  width: 174px;
  height: 25px;
  left: 35px;
  bottom: 75px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.bonds--box--currP--BTCB--label {
  position: absolute;
  width: 245px;
  height: 30px;
  left: 35px;
  bottom: 34px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}
.bonds--box--aRedeem {
  position: absolute;
  width: 148px;
  height: 71px;
  bottom: 24px;
  left: 347px;
}
.bonds--box--aRedeem--label {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.bonds--box--aRedeem > div {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bonds--box--aRedeem--logo {
  width: 39px;
  height: 39px;
}
.bonds--box--aRedeem--value {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;

  color: #ffffff;
}
.bonds--box--purchase {
  position: absolute;
  width: 417px;
  height: 45px;
  right: 26px;
}
.bonds--box--purchase > label {
  display: block;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}
.bonds--box--purchase > span {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: rgba(255, 255, 255, 0.8);
}
.bonds--box--hr {
  position: absolute;
  right: 26px;
  bottom: 46px;
  border: #ffff;
  border-bottom: 0.5px solid rgba(195, 197, 203, 0.4);
  width: 246px;
  width: 417px;
  height: 0px;
}
.bonds--box--redeem {
  position: absolute;
  width: 417px;
  height: 45px;
  bottom: -3px;
  right: 26px;
}
.bonds--box--redeem > label {
  display: block;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}
.main {
  height: 1320px;
}
